<body>
  <div id="wrapper">
      <nav class="navbar-default navbar-static-side" role="navigation">
          <div class="sidebar-collapse">
              <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <img alt="image" class="rounded-circle" src="../../../../../assets/img/profile_small.jpg"/>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="block m-t-xs font-bold">Jhefry Vega</span>
                            <span class="text-muted text-xs block">Estudiante <b class="caret"></b></span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a class="dropdown-item" href="#">Tarjetas</a></li>
                            <li><a class="dropdown-item" href="#">Rutas</a></li>
                            <li><a class="dropdown-item" href="#">Recarga</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        ML+
                    </div>
                </li>
                <li class="active">
                    <a href="javascript:;">
                        <i class="fa fa-th-large"></i> <span class="nav-label">Tarjeta</span><span class="fa arrow"></span>
                      </a>
                    <ul class="nav nav-second-level">
                      <!--<li><a routerLink="/admin/home/recargarTarjeta">Recargar Tarjeta</a></li>-->
                      <li><a routerLink="/admin/home/asociarTarjeta">Asociar Tatjeta</a></li>
                      <li><a routerLink="/admin/home/listarTarjeta">Listar Tarjeta</a></li>
                    </ul>
                </li>
                <li>
                  <a href="javascript:;">
                      <i class="fa fa-desktop"></i> <span class="nav-label">Perfil</span><span class="fa arrow"></span>
                    </a>
                  <ul class="nav nav-second-level">
                    <li><a routerLink="/admin/home/actualizarPassword">Actualizar Contraseña</a></li>
                  </ul>
              </li>
            </ul>
        </div>
    </nav>
    <div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" onclick="navbarMinimalize()" href="javascript:;"><i class="fa fa-bars"></i></a>
    </div>
        <ul class="nav navbar-top-links navbar-right">
            <li style="padding: 20px">
                <span class="m-r-sm text-muted welcome-message">Bienvenido</span>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-sign-out"></i> Salir
                </a>
            </li>
            <li>
                <a class="right-sidebar-toggle">
                    <i class="fa fa-tasks"></i>
                </a>
            </li>
        </ul>
    </nav>
    </div>
    <router-outlet></router-outlet>
    <div class="footer">
            <div>
                <strong>Copyright</strong> Taller de Proyectos 1 - Grupo 4  &copy; 2020
            </div>
    </div>
    </div>
  </div>


</body>
