<div class="middle-box text-center loginscreen animated fadeInDown">
  <div>
      <h3>Bienvenido a "Transporte"</h3>
      <p>Esté aplicativo te ayudará a conectarte a las multiples plataformas de transportes del Perú.</p>
      <p>Inicie Sesión. Para tener beneficiios exclusivos.</p>
      <form class="m-t" role="form" >
          <div class="form-group">
              <input type="email" [(ngModel)]="usuario.usuario"name="username" class="form-control" placeholder="Username" required="">
          </div>
          <div class="form-group">
              <input type="password" [(ngModel)]="usuario.clave" name="password" class="form-control" placeholder="Password" required="">
          </div>
          <a (click)="login()" class="btn btn-primary block full-width m-b">Login</a>
          <a (click)="invitado()" class="btn btn-primary block full-width m-b">Invitado</a>

          <a routerLink="/public/recuperarClave"><small>¿Se te olvidó tu contraseña?</small></a>
          <p class="text-muted text-center"><small>¿No tiene una cuenta?</small></p>
          <a routerLink="/public/registrarUsuario"  class="btn btn-sm btn-white btn-block">Crea una cuenta</a>
      </form>
      <p class="m-t"> <small>Taller de Proyectos 1 - Grupo 4 &copy; 2020</small> </p>
  </div>
</div>
