<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
      <h2>Asociar Tarjeta</h2>
  </div>
  <div class="col-lg-2">
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
  <div class="col-lg-12">
      <div class="ibox">
          <div class="ibox-title">
            <h3 class="m-t-none m-b">Datos de la tarjeta</h3>
          </div>
          <div class="ibox-content">
              <div class="row">
                  <div class="col-sm-6 b-r">
                      <form role="form">
                          <div class="form-group">
                              <label>N° DE TARJETA</label>
                              <input type="text" [(ngModel)]="asociarTarjetas.asociarTarjetas[0].numeroTarjeta" class="form-control" name="Number" placeholder="Número de Tarjeta Válida" required />
                          </div>
                          <div class="form-group">
                              <label>TIPO DE SERVICIO</label>
                              <select class="form-control m-b" name="account" [(ngModel)]="asociarTarjetas.asociarTarjetas[0].tipoServicio" (change)="tarjetaSelect($event)">
                                <option *ngFor="let tipoTarjeta of tipoTarjetas" [value]="tipoTarjeta.id">{{tipoTarjeta.description}}</option>
                              </select>
                          </div>
                          <!--<div class="form-group">
                            <label>FECHA DE CADUCIDAD</label>
                            <input type="text" id="datepicker" class="form-control" name="Number" placeholder="Fecha" required />
                          </div>-->
                      </form>
                  </div>
                  <div *ngIf="imgTarjetaNull" class="col-sm-6"><h4>Tarjeta</h4>
                      <p class="text-center">
                        <img class="d-flex mr-3" style="max-width: 100%;height: auto; margin-bottom: 10px;" src="../../../../../assets/images/Tarjeta_SinElegir.png" alt="Tarjeta Linea 1">
                      </p>
                  </div>
                  <div *ngIf="imgTarjetaM"  class="col-sm-6"><h4>Tarjeta Metropolitano</h4>
                    <p class="text-center">
                      <img class="d-flex mr-3" style="max-width: 100%;height: auto; margin-bottom: 10px;" src="../../../../../assets/images/Metropolitano.png" alt="Tarjeta Linea 1">
                    </p>
                  </div>
                  <div *ngIf="imgTarjetaL"  class="col-sm-6"><h4>Tarjeta Linea 1</h4>
                    <p class="text-center">
                      <img class="d-flex mr-3" style="max-width: 100%;height: auto; margin-bottom: 10px;" src="../../../../../assets/images/Metro de Lima.png" alt="Tarjeta Linea 1">
                    </p>
                  </div>
                  <div class="col-sm-4 b-r">
                    <div>
                      <button class="btn btn-sm btn-primary float-center m-t-n-xs" type="submit" data-toggle="modal" (click)="asociarTarjeta()" data-target="#exampleModal"><strong>Asociar</strong></button>
                  </div>
                  </div>
          </div>
          </div>
      </div>
  </div>

</div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Asociación Éxitosa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Su tarjeta se asociado de manera Éxitosa.
      </div>
      <div class="modal-footer">
        <button type="button" routerLink="/admin/home/listarTarjeta" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
