<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
      <h2>Actualziar Contraseña</h2>
  </div>
  <div class="col-lg-2">
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
  <div class="col-lg-12">
      <div class="ibox">
          <div class="ibox-title">
            <h3 class="m-t-none m-b">Ingresa tu nueva contraseña</h3>
          </div>
          <div class="ibox-content">
              <div class="row">
                  <div class="col-sm-6 b-r">
                      <form role="form">
                          <div class="form-group">
                              <label>Contraseña Actual</label>
                              <input type="password" [(ngModel)]="updateClave.claveAntigua" name="password" class="form-control" placeholder="Contraseña Actual" >
                          </div>
                          <div class="form-group">
                              <label>Contraseña Nueva</label>
                              <input type="password" [(ngModel)]="updateClave.claveNueva" name="passwordNuevo" class="form-control" placeholder="Nueva Contraseña">
                          </div>
                          <div class="form-group">
                              <label label>Confirmar</label>
                              <input type="password" [(ngModel)]="confirmarPassword" name="Confpassword" class="form-control" placeholder="Confirmar Contraseña">
                          </div>
                      </form>
                  </div>
                  <div class="col-sm-4 b-r">
                    <div>
                      <button class="btn btn-sm btn-primary float-center m-t-n-xs" type="submit" data-toggle="modal"(click)="updatePassword()" data-target="#exampleModal"><strong>Actualizar</strong></button>
                  </div>
                  </div>
          </div>
          </div>
      </div>
  </div>

</div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Actualizar Contraseña</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        La contraseña se actualizo Correctamente!
      </div>
      <div class="modal-footer">
        <button type="button" routerLink="/public/login"  class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
