<div class="middle-box text-center loginscreen   animated fadeInDown">
  <div>
      <h3>Registro de Usuario</h3>
      <p>Crea una cuenta para tener más beneficios.</p>
      <form class="m-t" role="form">
          <div class="form-group">
              <input type="text" [(ngModel)]="nombreCompleto" name="nombreCompleto" class="form-control" placeholder="Nombres" required>
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="apellidoCompleto" name="apellidoCompleto" class="form-control" placeholder="Apellidos" required>
          </div>
          <div class="form-group">
              <input type="email" [(ngModel)]="usuarioRegistro.correo" name="correo" class="form-control" placeholder="Correo" required>
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="usuarioRegistro.dni" name="dni" class="form-control" placeholder="DNI" required>
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="usuarioRegistro.numeroCelular" name="numeroCelular" class="form-control" placeholder="Celular" required>
          </div>
          <div class="form-group">
              <input type="password" [(ngModel)]="password" name="password" class="form-control" placeholder="Password" required>
          </div>
          <div class="form-group">
            <input type="password" [(ngModel)]="Confpassword" name="Confpassword" class="form-control" placeholder="Confirmar Password" required>
          </div>
          <!--<div class="form-group">
                  <div class="checkbox i-checks"><label> <input type="checkbox"><i></i>Acuerde los términos y política</label></div>
          </div>-->
          <button data-toggle="modal" (click)="registrarUsuario()" type="submit" class="btn btn-primary block full-width m-b" data-target="#exampleModal">Registrar</button>

          <p class="text-muted text-center"><small>¿Ya tienes una cuenta?</small></p>
          <a routerLink="/public/login" class="btn btn-sm btn-white btn-block">Login</a>
      </form>
      <p class="m-t"> <small>Taller de Proyectos 1 - Grupo 4 &copy; 2020</small> </p>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registrar Usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Usuario Creado Exitosamente!
      </div>
      <div class="modal-footer">
        <button type="button" routerLink="/public/login" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalError" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelError" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ocurrio un problema!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{mensaje}}
      </div>
      <div class="modal-footer">
        <button type="button" routerLink="/public/login" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
