<div class="middle-box text-center loginscreen   animated fadeInDown">
  <div>
      <h3>Recuperar Contraseña</h3>
      <p>Se enviará un mensaje la contraseña.</p>
      <form class="m-t" role="form">
          <div class="form-group">
              <input type="email" [(ngModel)]="correoUsuario.correo" name="correo" class="form-control" placeholder="Correo" required="">
          </div>
          <button data-toggle="modal" (click)="enviarCorreo()" type="submit" class="btn btn-primary block full-width m-b" data-target="#exampleModal">Recuperar</button>

          <p class="text-muted text-center"><small>¿Ya tienes una cuenta?</small></p>
          <a routerLink="/public/login" class="btn btn-sm btn-white btn-block">Login</a>
      </form>
      <p class="m-t"> <small>Taller de Proyectos 1 - Grupo 4 &copy; 2020</small> </p>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Recuperar Contraseña</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Se le envió la contraseña a su correo electrónico.
      </div>
      <div class="modal-footer">
        <button type="button" routerLink="/public/login" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
