<app-spinner-load *ngIf="spinner" ></app-spinner-load>
<div *ngIf="viewlist">
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
      <h2>Lista de Tarjetas</h2>
  </div>
  <div class="col-lg-2">
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row  border-bottom white-bg dashboard-header">
  <div class="col-md-3">
      <div class="statistic-box">
      <p>
         Tienes {{tarjetaCount}} tarjetas asociada.
      </p>
          <div class="row text-center">
              <div class="col-lg-6" *ngFor="let tarjeta of tarjetas">
                <img class="d-flex mr-3" style="max-width: 100%;height: auto; margin-bottom: 10px;" src="../../../../../assets/images/{{tarjeta.tipoServicio}}.png">
                <h5>Saldo Disponible : S/. {{tarjeta.saldo}}</h5>
                <button type="submit" style="margin-bottom:5px;"routerLink="/admin/home/recargarTarjeta/{{tarjeta.numeroTarjeta}}" class="btn btn-primary block full-width m-b">Recargar Tarjeta</button>
                <button type="submit" style="margin-bottom:40px;background-color:#f44336; border-color:#f44336;"  class="btn btn-primary block full-width m-b">Eliminar Tarjeta</button>
              </div>
          </div>
      </div>
  </div>
</div>
</div>
</div>
