<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
      <h2>Pasarela de Pago</h2>
  </div>
  <div class="col-lg-2">
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
      <div class="col-md-4">
          <div class="payment-card">
              <i class="fa fa-cc-visa payment-icon-big text-success"></i>
              <h2>
                  **** **** **** 1060
              </h2>
              <div class="row">
                  <div class="col-sm-6">
                      <small>
                          <strong>Fecha de caducidad:</strong> 10/22
                      </small>
                  </div>
                  <div class="col-sm-6 text-right">
                      <small>
                          <strong>Nombre:</strong> Jhefry Vega
                      </small>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="payment-card">
              <i class="fa fa-cc-mastercard payment-icon-big text-warning"></i>
              <h2>
                  **** **** **** 7002
              </h2>
              <div class="row">
                <div class="col-sm-6">
                  <small>
                      <strong>Fecha de caducidad:</strong> 10/22
                  </small>
                </div>
                <div class="col-sm-6 text-right">
                  <small>
                      <strong>Nombre:</strong> Jhefry Vega
                  </small>
                </div>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-lg-12">
          <div class="ibox">
              <div class="ibox-title">
                  Método de Pago
              </div>
              <div class="ibox-content">
                  <div class="panel-group payments-method" id="accordion">
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <div class="float-right">
                                  <i class="fa fa-cc-paypal text-success"></i>
                              </div>
                              <h5 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">PayPal</a>
                              </h5>
                          </div>
                          <div id="collapseOne" class="panel-collapse collapse">
                              <div class="panel-body">
                                  <div class="row">
                                      <div class="col-md-10">
                                          <h2>Resumen</h2>
                                          <strong>Tarjeta</strong>: Metropolitano <br/>
                                          <strong>Precio</strong>: <span class="text-navy">S/20.00</span>
                                          <p class="m-t">
                                            Para usar PayPal, debes asociar una forma de pago a tu cuenta,
                                            como una tarjeta de crédito que te permita hacer pagos internacionales.
                                            Puedes asociar varias tarjetas a tu cuenta y elegir cuál quieres usar a la hora de pagar.
                                          </p>
                                          <a class="btn btn-success" href="#">
                                              <i class="fa fa-cc-paypal"> </i> Paga a través de PayPal
                                          </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <div class="float-right">
                                  <i class="fa fa-cc-amex text-success"></i>
                                  <i class="fa fa-cc-mastercard text-warning"></i>
                              </div>
                              <h5 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Tarjeta de Crédito / Debito</a>
                              </h5>
                          </div>
                          <div id="collapseTwo" class="panel-collapse collapse in">
                              <div class="panel-body">
                                  <div class="row">
                                      <div class="col-md-8">
                                          <form role="form" id="payment-form">
                                              <div class="row">
                                                  <div class="col-12">
                                                      <div class="form-group">
                                                          <label>NÚMERO DE TARJETA</label>
                                                          <div class="input-group">
                                                              <input type="text" [(ngModel)]="tarjetaCredito.numeroTarjetaPago" class="form-control" name="Number" placeholder="Número de Tarjeta Válida" required />
                                                              <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div *ngIf="tarjetaTransporte"  class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label>NÚMERO DE TARJETA DE TRANSPORTE</label>
                                                        <div class="input-group">
                                                            <input type="text" [(ngModel)]="tarjetaCredito.numeroTarjetaPago" class="form-control" name="Number" placeholder="Número de Tarjeta Transporte" required />
                                                            <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                              <div class="row">
                                                  <div class="col-7 col-md-7">
                                                      <div class="form-group">
                                                          <label>FECHA DE CADUCIDAD</label>
                                                          <input type="text" [(ngModel)]="tarjetaCredito.fechaExpiracion" class="form-control" name="Expiry" placeholder="MM/YY"  required/>
                                                      </div>
                                                  </div>
                                                  <div class="col-5 col-md-5 float-right">
                                                      <div class="form-group">
                                                          <label>CÓDIGO CCV</label>
                                                          <input type="text" [(ngModel)]="tarjetaCredito.CCV" class="form-control" name="CVC" placeholder="CCV"  required/>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-12">
                                                      <div class="form-group">
                                                          <label>TITULAR</label>
                                                          <input type="text" [(ngModel)]="tarjetaCredito.nombreTitular" class="form-control" name="nameCard" placeholder="Titular de la Tarjeta" required/>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label>CORREO ELECTRÓNICO</label>
                                                        <input type="text" [(ngModel)]="tarjetaCredito.correoElectronico" class="form-control" name="nameCard" placeholder="Correo Electrónico" required/>
                                                    </div>
                                                </div>
                                              </div>
                                              <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label>MONTO A RECARGAR</label>
                                                        <input type="text" [(ngModel)]="tarjetaCredito.montoRecarga" class="form-control" name="nameCard" placeholder="S/." required/>
                                                    </div>
                                                </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-12">
                                                      <button class="btn btn-primary" type="submit" data-toggle="modal" (click)="realizarPago()" data-target="#exampleModal">Realizar Pago</button>
                                                  </div>
                                              </div>
                                          </form>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Operación Éxitosa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Su recarga se a realizado con éxito.
      </div>
      <div class="modal-footer">
        <button type="button" routerLink="/admin/home/listarTarjeta" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
